.container {
  position: relative;
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  max-width: 393px;
  width: 100%;
  max-height: 852px;
}

.image-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
}
