button {
  font-family: HeadingFont, sans-serif;
  font-size: 20px;
  display: flex;
  width: 173px;
  height: 39px;
  padding: 19px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #581616;
  border-color: #581616;
  background: #581616;
  box-shadow: 0px 4px 124px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

/*
button direction tableau 1 
*/

.button1 {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/*
button direction tableau 2 
*/

.button2 {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/*
button direction tableau 3 
*/

.button3 {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.button_home {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.button_credits {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
