body {
  margin: 5%;
  padding: 0;
  background-color: #581616;
}
.containercredits {
  background-color: #581616;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

body img {
    width: 100%;
}

.espace{
    text-align: center;
    margin-bottom: 3%;
}

.team{
    display: flex;
    flex-wrap: wrap;
}

.team p{
    margin-right: 50px;
}