.containerdialog {
  background-image: url("../images/discpainting1.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.bulle {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  height: auto;
  z-index: 10;
}
.text {
  font-family: ParagraphFont;
  font-size: 16px;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  height: auto;
  z-index: 10;
}

/*
DIALOG 1 
*/

.perso1 {
  position: absolute;
  top: 53%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 600px;
  height: auto;
  z-index: 10;
}

/*
DIALOG 2 
*/

.containerdialog2 {
  background-image: url("../images/background_richard_robinson.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.perso2 {
  position: absolute;
  top: 55%;
  left: 73%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  height: auto;
  z-index: 10;
}

/*
DIALOG 3
*/

.containerdialog3 {
  background-image: url("../images/background_tableau3_flouté.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.perso3 {
  position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 600px;
  height: auto;
  z-index: 10;
}

/*
DIALOG 4 
*/

.perso4 {
  position: absolute;
  top: 53%;
  left: 67%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  height: auto;
  z-index: 10;
}